* {
    margin: 0 auto;
    /* border-style: dotted; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:large;
}

body {
    background-color: white;
}
.navbar button {
    background: teal;
    color: white;
}

.navbarbg {
    background-color: rgb(0, 0, 0);
}
.navbar {
    width: 700px;
    /* background-color: yellowgreen; */
    padding-top: 20px;
    display: flex;
    align-items: center;
    color: white;
    padding-bottom: 5px;
}

.container {
    width: 1000px;
    /* height: 1500px; */
    /* background-color: white */
    display: flex;
}

.leftcolumn {
    background-color: aliceblue;
    flex: 3;
    margin-right: 10px;
    border: 2px solid black;
}

.rightcolumn {
    /* background-color: blueviolet; */
    flex: 2;
    border: 2px solid black;
}

.box {
    /* height: 500px; */
    margin-top: 10px;
    /* background-color: blue; */
    align-items: center;
    border: 2px solid black;
}
.box h2 {
    margin-left: 30px;
    margin-top: 55px;
    font-size: 30px;
}
.box h3 {
    margin-left: 30px;
}
.box h3 img {
    height: 30px;
}
.box h4 {
    margin-left: 30px;
}
.box h5 {
    margin-left: 30px;
}
.box .navbarbg {
    height: 150px;
    background-color: rgb(15, 163, 168);
}

.navbarbg img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 30px;
    background-size: cover;
    position:absolute;
}

.boxtop {
    height: 50px;
    background-color: rgb(61, 60, 61);
    border: 2px solid black;
    color: white;
}

.box p {
    margin-left: 20px;
}
.rightcolumn img {
    height: 70px;
    margin-left: 20px;
}
.rightcolumn p img {
    height: 50px;
}
.boxtop h1 {
    text-align: center;
    font-size: 20px;
}